<h1>{{thisUsr.name}}'s Buckets!</h1>


New Bucket:
<form ng-submit="addBckt( newBckt )">

  Name:
  <input style="display:block" type="text" ng-model="newBckt.name" value="">
  Description
  <textarea style="display:block" ng-model="newBckt.desc" rows="2" cols="80"></textarea>
  Tag a User:
  <select  style="display:block" ng-model="newBckt.usrId2">
    <option ng-if="(usr._id !== thisUsr._id)" ng-repeat="usr in users" value="{{ usr._id }}" >{{ usr.name }}</option>
  </select>

  <input style="display:block" type="submit" value="Queue Bucket">
</form>


<h2>Here are the buckets</h2>
Not done yet:
<div  ng-repeat='user in users'>
  <span ng-if='( user._id == thisUsr._id )'>
    <span ng-repeat='bckt in user.buckets' ng-if="( !bckt.done )" >
      <input  ng-click='doBckt( bckt )'  type="checkbox" >
       {{ bckt.name }}<br>
    </span>
  </span>
</div>

Done!:
<div  ng-repeat='user in users'>
  <span ng-if='( user._id == thisUsr._id )'>
    <span ng-repeat='bckt in user.buckets' ng-if="( bckt.done )" >
      <input  ng-click='doBckt( bckt )'  type="checkbox" checked >
       {{ bckt.name }}<br>
    </span>
  </span>
</div>
<hr>

  <span ng-repeat='bckt in users[0].buckets' >
    <input ng-if='( user._id != thisUsr._id )&&( !bckt.done )'  ng-click='doBckt( bckt )'  type="checkbox"  disabled>
    <input ng-if='( user._id != thisUsr._id )&&( bckt.done )'  ng-click='doBckt( bckt )'  type="checkbox"  disabled checked>
     {{ bckt.name }}GOGOGOGO<br>
  </span>
