<h1>On Products</h1>
<form ng-submit="addBckt( newBckt )">
  Name:
  <input style="display:block" type="text" ng-model="newBckt.name">
  Description:
  <textarea style="display:block" type="text" ng-model="newBckt.desc"></textarea>
  Quantity:
  <input style="display:block" type="text" ng-model="newBckt.qty">
  Img Url:
  <input style="display:block" type="text" ng-model="newBckt.img">
  <input style="display:block" type="submit" value="Add New Customer">
</form>
<input type="text" ng-model="filter_name" value="">
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Desc</th>
      <th>Img</th>
      <th>Quantity</th>
      <th>Action</th>
      <th>Created At</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat=" p in products | filter : filter_name">
      <td>{{ p.name }}</td>
      <td>{{ p.desc }}</td>
      <td>{{ p.qty }}</td>
      <td><img src="{{ p.img }}"></td>
      <td>{{ p.createdAt }}</td>
      <td><button type="button" ng-click="delBckt(p._id)">Remove</button></td>
    </tr>
  </tbody>
</table>
