<h1>On Customers</h1>
<form name='cstmrForm' ng-submit="addCstmr( newCstmr )">
  <input style="display:block" name='name' type="text" ng-model="newCstmr.name" required>
  <input style="display:block" type="submit" value="Add New Customer">
</form>
<div ng-repeat='err in errors'>
  <p ng-if="(err.e === 'short')" >Tooo shooort</p>
  <p ng-if="(err.e === 'long')" >Tooo looooooong</p>
</div>
<input type="text" ng-model="filter_name" value="">
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Created At</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat=" c in customers | filter : filter_name">
      <td>{{ c.name }}</td>
      <td>{{ c.createdAt }}</td>
      <td><button type="button" ng-click="delCstmr(c._id)">Remove</button></td>
    </tr>
  </tbody>
</table>
